table {
    border-collapse: collapse;
}

th {
    background-color: grey;
    color: white;
}

tr:nth-child(even) {
    background-color: lightgrey;
}

tr:nth-child(odd) {
    background-color: cadetblue;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

svg {
    width: 800px;
    height: 400px;
}

svg path, line {
    fill: none;
    stroke: black;
    width: 1px;
}

svg text {
    font: 8px Verdana;
}
